{% set type = 'blog' if 'blog' in API.CURRENT_URL else 'product' %}
<div class="container">
    <div class="row rtl">
        <div class="col-xs-12">
            <h2>{%if type=='product'%}محصولات{%else%}پست{%endif%} با برچسب {{API.TAG.title}}</h2>
        </div>
        {%if type=='product'%} {% for product in API.TAG.data %}
        <div class="col-sm-4 col-md-3 col-lg-3 col-xs-6 pr">
            <div class="pr-img">
                <a href="{{product.slug}}">
                    <img style="width:100%" src="{{product.media.url|image}}" alt="">
                </a>
                <div class="add-quick" data-url="{{product.slug}}">
                </div>
            </div>
            <a>
                <h4>{{product.title}}</h4>
            </a>
            <div class="price">
                {% if product.compare_at_price %}
                <del>{{product.compare_at_price|price}}</del>
                {% endif %}
                <span>{{product.price|price}}</span>
            </div>
        </div>
        {% endfor %} {%else%} {% for blog in API.TAG_BLOGS %}
        <div class="col-sm-4 col-md-3 col-lg-3 col-xs-6">
            <a href="{{blog.slug}}">
                <div class="blog-img" style="background-image:url({{blog.media.url|image}})">
                    <div class="blog-title">
                        {{blog.title}}
                        <br>
                        <span style="font-size:0.8rem">
                            <i class="fas fa-user-clock"></i>{{blog.created_at}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>