{%macro paginate(paginated)%}
<!-- pagination macro -->
{% if paginated.previous or paginated.next %}
<nav aria-label="Page navigation">
    <ul class="pagination rtl">
        <li>
            <a href="{% if paginated.previous %}{{API.CURRENT_URL|regex_replace('page\x3d\d{1,}','page='+paginated.previous)}}{%endif%}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for p in range(1,paginated.last_page)%}
        <li>
            <a href="{% if p %}{{API.CURRENT_URL|regex_replace('page\x3d\d{1,}','page='+p)}}{%endif%}">{{p}}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{% if paginated.next %}{{API.CURRENT_URL|regex_replace('page\x3d\d{1,}','page='+paginated.next)}}{%endif%}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %} {% endmacro%} {% macro commentbinder(comment) %}
<!-- for comments -->
<div class="comment">
    <div class="content">
        <p class="comment-content">{{comment.text|safe}}</p>
        <span class="meta">{{comment.full_name}} - </span>
        <a class="reply-link" onclick="replayTo(this,{{comment.id}})">پاسخ</a>
    </div>
    {% if comment.children|length %}
    <div class="comments">
        {% for com in comment.children%} {{commentbinder(com)}} {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %} {% macro status(s) %}
<!-- cart status macro -->
{% set statuses = { "1":"معلق" ,"2":"پذیرفته شده" ,"3":"تایید نشده" ,"4":"ارسال شده" ,"5":"تحویل داده شده" ,"6":"برگشت داده
شده" ,"7":"درحال پردازش" ,"8":"نقص در فاکتور" ,"9":"ارسال به سیستم پستی" } %} {{statuses|check(s)}} {% endmacro %} {%macro
addressForm(is_edit,address)%}
<!-- address foem macro -->
<form action="{%if is_edit%}{{API.ROUTES.POST.UPDATE_ADDRESS}}{%else%}{{API.ROUTES.POST.ADD_ADDRESS}}{%endif%}" method="POST">
    <h2>{%if is_edit%}ویرایش آدرس{%else%}اضافه کردن آدرس جدید{%endif%} </h2>
    <div class="form-group">
        <label>کدپستی</label>
        <input type="number" name="postal_code" maxlength="10" minlength="10" {%if is_edit%}value="{{address.postal_code}}" {%endif%}
            min="1000000000" class="form-control">
    </div>
    <div class="form-group">
        <label>تلفن</label>
        <input type="text" {%if is_edit%}value="{{address.phone}}" {%endif%} name="phone" class="form-control">
    </div>
    <div class="form-group">
        <label>آدرس</label>
        <textarea name="address" class="form-control">{% if is_edit %}{{address.address}}{%endif%}</textarea>
    </div>
    {%if is_edit%}
    <input value="{{address.id}}" type="hidden" name="id"> {%endif%}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">ذخیره</button>
    </div>
</form>
{%endmacro%} {% macro product_item(product,countInRow)%}
<div {%if countInRow%}class="col-lg-{{(12/countInRow )| ceil }} col-md-{{(12/(countInRow-1))|ceil}} col-sm-{{(12/(countInRow-1))|ceil}} col-xs-{{(12/(countInRow-2))|ceil}} pr"
    {%else%}class="col-sm-4 col-md-3 col-lg-3 col-xs-6 pr" {%endif%}>
    <div class="pr-img">
        <a href="{{product.slug}}">
            <img style="max-height: 206px;margin:0 auto" src="{{product.media.url|image}}" alt="">
        </a>
        <div class="add-quick" data-url="{{product.slug}}">

        </div>
    </div>
    <a>
        <h4>{{product.title}}</h4>
    </a>
    <div class="price">
        {% if product.compare_at_price %}
        <del>{{product.compare_at_price|price}}</del>
        {% endif %}
        <span>{{product.price|price}}</span>
    </div>
</div>


{%endmacro%} {% macro messages(api)%}{%if api.MESSAGES|length%} {%for message in api.MESSAGES%}
<div class="alert alert-{%if message.tags == 'error'%}danger{%else%}{{message.tags}}{%endif%}" role="alert">{{message.message}}</div>
{%endfor%} {%endif%}{%endmacro %} {%macro taglist(tagowner)%} {% if tagowner.tags |length%}
<div class="row" style="margin:3rem 0">
    برچسب ها:&nbsp; {% for tag in tagowner.tags%}
    <a href="{{tag.slug}}" class="tag">{{tag.title}}</a>
    {% endfor %}
</div>
{% endif %} {%endmacro%}