// variables u can add global variables and mixins here please provide declare editable viables in config.json file
// لطفا متغیر ها و متد های سَس خود را اینجا وارد کنید و در فایل تنظیمات قالب آنها که قابل تنظیم هستند را درج کنید

$primary_color: #000000;
$primary_overlay: rgba(48, 48, 48, 0.467);
$primary_text_color: unquote('#080113d3');
$secondary-color:#2e2e2e;
$invert-color : rgb(231, 222, 194);
$font: 'IRANSans';
$shadow-color:unquote('#31313142');


@mixin respond-to($media) {
    @if $media==mobile {
        @media only screen and (max-width: 425px) {
            @content;
        }
    }
    @else if $media==mobile-higher {
        @media only screen and (min-width: 426px) {
            @content;
        }
    }
    @else if $media==tablet {
        @media only screen and (min-width: 426px) and (max-width: 1024px) {
            @content;
        }
    }
    @else if $media==tablet-and-below {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $media==tablet-and-higher {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $media==desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
}