
<div style="padding:0 2rem">
    <div class="row rtl">
        <h2> {% if API.COLLECTION.conditions[0].exist_content=="products" %}محصولات {% else %} پست ها{% endif %}در {{API.COLLECTION.title}}</h2>
        {% if API.COLLECTION.conditions[0].exist_content=="products" %}
        {% for product in API.COLLECTION.contents %}
        <div class="col-sm-4  col-xs-6 pr">
            <div class="pr-img">
                <a href="{{product.slug}}">
                    <img style="width:100%" src="{{product.media.url|image}}" alt="">
                </a>
                <div class="add-quick" data-url="{{product.slug}}">
                    
                </div>
            </div>
            <a>
                <h4>{{product.title}}</h4>
            </a>
            <div class="price">
                {% if product.compare_at_price %}
                <del>{{product.compare_at_price|price}}</del>
                {% endif %}
                <span>{{product.price|price}}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for blog in API.COLLECTION.contents %}
        <div class="col-sm-4 col-md-3 col-lg-3 col-xs-6">
            <a href="{{blog.slug}}">
            <div class="blog-img" style="background-image:url({{blog.media.url|image}})" >
                    <div class="blog-title" >
                        {{blog.title}} <br>
                        <span style="font-size:0.8rem"><i class="fas fa-user-clock"></i>{{blog.created_at}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
</div>
<div id="pr-detail" class="modal fade" role="dialog">

</div>