
.blog-img{
    height: 200px;
    background-size: contain;
    background-position: center;
}
.row [class*="col-"]:nth-child(4n-2) .blog-title{
    width: calc( 100% - 15px );
}
.blog-title{
    width: calc( 100% - 30px );
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    color: #f5f5f5;
    background: rgba(0, 0, 0, 0.6);
}
.row [class*="col-"]:nth-child(4n-2):not(.modal-col){
    padding-right: 0;
}
.pr-img{
    /*height: 180px*/
}
.pr{
    height: initial;
}
@include respond-to(tablet-and-higher){
    .pr{
        width: 20%!important;
    }
}