<!doctype html>

<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8">
    <title>{{API.SHOP.title}}
        -
        {% block title %}{% endblock %}
    </title>
    <base href="/">
    <link rel="shortcut icon" href="{{API.SHOP.media.url | image}}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for style in template.stylesheets %}
        {{style.bind() |safe}}   
    {% endfor %}
{% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
    {% for script in template.scripts %}
    <script src="{{script}}" ></script>
    {% endfor %}
    {% block script %}{% endblock %}
</body> 
</html>