.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/

.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}
.panel-body{
    min-height:130px;
}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 30px;
    background: #f5f5f5;
    height: 30px;
    display: block;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot,
.bs-wizard>.bs-wizard-step.completed>.bs-wizard-dot {
    background: $primary-color !important
}

.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot:after,
.bs-wizard>.bs-wizard-step.completed>.bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: $secondary-color;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: $primary-color;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
    right: 50%;
    width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

.bs-wizard>.bs-wizard-step.completed>.progress>.progress-bar {
    width: 100%
}

/*END Form Wizard*/

.input-group-addon {
    color: white;
}

.centered {
    text-align: center;
}

.media-body * {
    color: $primary-color
}

.panel-heading {
    background-color: rgb(245, 245, 245);
}

@include respond-to(desktop-and-below) {
    .container {
        width: 100% !important;
    }
}

.panel-primary>.panel-heading,
.panel-primary>.panel-body,
.panel-primary {
    border-color: $primary-color;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: $primary-color;
}

.selected>.panel-heading,
.selected>.panel-body,
.selected {
    border-color: $invert-color!important;
}

.selected>.panel-heading {
    color:$primary-color;
    background-color: $invert-color!important;
}
.row.messages{
    margin: 0!important;
}
.progress-bar {
    float: right;
}

.add-newaddress {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(8, 8, 8, 0.6)
}

.modall {
    background: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem
}

@include respond-to(mobile){
    .modall {
        width: 90vw;
        left: 5vw;
        right: 5vw;
    }
}
@include respond-to(tablet){
    .modall {
        width: 60vw;
        left: 15vw;
        right: 15vw;
    }
}
@include respond-to(desktop){
    .modall {
        width: 40vw;
        left: 30vw;
        right: 30vw;
    }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }