<div class="container" ng-app="checkout" ng-controller="checkoutctrl" ng-cloak>
    <!-- steps -->
    <div ng-if="mode.search('step')>-1 || mode =='signin' || mode == 'signup'" class="row bs-wizard" style="border-bottom:0;">
        <div data-step="0" class="col-xs-4 bs-wizard-step " ng-class="{'active':mode =='signin' || mode == 'signup' || mode == 'step0' ,'completed':mode=='step1'}">
            <div class="text-center bs-wizard-stepnum">مرحله اول</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot "></a>
            <div class="bs-wizard-info text-center">تکمیل اطلاعات</div>
        </div>
        <div data-step="1" class="col-xs-4 bs-wizard-step " ng-class="{'active': mode == 'step1'}">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum">مرحله دوم</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot "></a>
            <div class="bs-wizard-info text-center">آدرس و نحوه پرداخت</div>
        </div>
        <div data-step="2" class="col-xs-4 bs-wizard-step " ng-class="{'active': mode == 'step2'}">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum">مرحله پایانی</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot "></a>
        </div>
    </div>
    <!-- endstep  -->

    <div class="row rtl">
        <div class="col-sm-8 col-xs-12">
            <!-- messages  -->
            <div class="row messages" ng-if="messages.length>0">
                {% raw %}
                <div class="alert " ng-repeat="message in messages" ng-class="'alert-'+message.type" role="alert">{{message.message}}</div>
                {% endraw %}
            </div>
            <!-- endmessages -->

            <!-- validation check email  -->
            <div ng-show="mode == 'validation'" style="min-height:500px;padding-top:150px">
                <h5>لطفا ایمیل یا شماره تلفن خود را وارد کنید </h5>
                <div class="col-lg-7 col-md-8 col-xs-12">
                    <div class="input-group input-group-md" style="direction:ltr">
                        <a ng-click="chekUser()" class="input-group-addon btn btn-primary">&nbsp;&nbsp;&nbsp; بررسی&nbsp;&nbsp; &nbsp;</a>
                        <input type="text" ng-model="cart.username" ng-keydown="chekUser($event)" class="form-control " placeholder="ایمیل یا شماره تلفن"
                            style="text-align:center">
                    </div>
                </div>
            </div>

            <!-- sign in form  -->
            <form ng-show="mode == 'signin'" style="min-height:500px;padding-top:150px">
                <h4> خوش آمدید لطفا کلمه عبور خود را وارد کنید </h4>
                <div class="input-group input-group-md" style="direction:ltr">
                    <a ng-click="mode = 'validation'" class="input-group-addon btn btn-primary">تغییر نام کاربری</a>
                    <input type="text" disabled class="form-control" ng-model="cart.username">
                </div>
                <div class="form-group">
                    <label for="">کلمه عبور</label>
                    <input type="password" ng-model="password" class="form-control">
                </div>
                <div class="form-group">
                    <div class="btn btn-primary" ng-click="doLogin()">ورود</div>
                </div>
            </form>

            <!-- signup  -->
            <div class="row" ng-show="mode == 'signup'">
                <form class="col-lg-8 col-xs-12">
                    <div class="form-group">
                        <label>نام و نام خانوادگی</label>
                        <input ng-model="cart.full_name" type="text" required class="form-control">
                    </div>
                    <div class="form-group" ng-class="{'has-error':!isValidMobile(cart.username) && !isValidEmail(cart.username)}">
                        <label> ایمیل یا تلفن </label>
                        <input ng-model="cart.username" type="text" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>کد پستی</label>
                        <input ng-model="cart.postal_code" type="text" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>آدرس</label>
                        <textarea ng-model="cart.address" type="text" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary" ng-click="cartValidator(cart) ? mode = 'step1' : ''">مرحله بعد</div>
                    </div>
                </form>
            </div>

            <!-- step 1  -->
            <div class="row" ng-show="mode=='step1'">
                {% raw %}
                <div ng-if="!cart.address" class="col-sm-4 col-xs-6" ng-repeat="address in user.addresses">
                    <div class="panel panel-primary pointer" styl="float:right" ng-class="{'selected':cart.address_id === address.id}" ng-click="cart.address_id = address.id">
                        <div class="panel-heading">آدرس {{$index+1}}
                            <div class="pointer" style="float:left">
                                <i ng-click="addAddressModal(address)" class="fa fa-edit"></i>
                                <i ng-click="removeAddress(address)" class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>آدرس:{{address.address}}</h4>
                            <p>کد پستی:{{address.postal_code}}</p>
                            <h4 style="bottom: 2rem;position: absolute;left: 2rem;" ng-if="cart.address_id == address.id">
                                <i class="fa fa-check"></i>
                            </h4>
                        </div>
                    </div>
                </div>
                <div ng-if="!cart.address" class="col-sm-4 col-xs-6">
                    <div class="panel panel-primary" style="height: 16rem; display: flex;
                        justify-content: center;
                        flex-direction: column;text-align: center">
                        <div class="panel-body">
                            <a ng-click="addAddressModal()">
                                <h4>آدرس جدید
                                    <i class="fa fa-plus"></i>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-show="address!==undefined" class="add-newaddress">
                    <div class="modall">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="header">
                                    <span>{{address.edit==''?'آدرس جدید':'ویرایش آدرس'}}</span>
                                    <a ng-click="address=undefined" style="float:left">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </h4>
                                <div class="row messages" ng-if="messages.length>0">
                                    <div class="alert " ng-repeat="message in messages" ng-class="'alert-'+message.type" role="alert">{{message.message}}</div>
                                </div>
                                <form action="">
                                    {% endraw %}
                                    <div class="form-group">
                                        <label for="">کدپستی</label>
                                        <input type="text" class="form-control" ng-model="address.postal_code">
                                    </div>
                                    <div class="form-group">
                                        <label for="">تلفن</label>
                                        <input type="text" class="form-control" ng-model="address.phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="">آدرس</label>
                                        <textarea class="form-control" ng-model="address.address"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn btn-primary" ng-click="saveAddress(address)">ذخیره</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="pwd">درگاه پرداخت</label>
                        <div style="display: inline-flex;
                                width: 100%;">
                            {% for gateway in API.GATEWAYS %}
                            <div style="padding:1rem;display: inline-grid" ng-click="cart.gateway_id = {{gateway.id}}" class="geteway">
                                <img src="{{gateway.media.url|image}}" style="height: 10rem" alt="">
                                <div>
                                    <input type="radio" {%if API.GATEWAYS|length  ==1 %}checked{%endif%} ng-model="cart.gateway_id" required ng-value="{{gateway.id}}"> {{gateway.title}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:2rem 0">
                    <div ng-if="!payment_form" class="col-xs-4">
                        <a ng-click="goBack()" class="btn  btn-block btn-default">مرحله قبل </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div ng-if="!payment_form" class="col-xs-4">
                        <a ng-click="checkout()" class="btn  btn-block btn-primary">خرید</a>
                    </div>
                    {% raw%}
                    <div ng-if="payment_form" class="col-xs-12">
                        <form id="paymentForm" action="" method="{{payment_form.method}}">
                            <input  type="hidden" name="{{payment_form.token_key}}" value="{{payment_form[payment_form.token_key]}}">
                            <button type="submit" class="btn btn-success btn-lg btn-fluid" style="width: 100%">
                                پرداخت مبلغ {{payment_form.total}}
                            </button>
                        </form>
                    </div>
                    {% endraw%}
                </div>
            </div>
            <!-- end step1  -->

        </div>
        <!-- cart preview -->
        <div class="col-sm-4 col-xs-12">
            <div class="panel-heading">
                <h5>
                    <i class="fa fa-shopping-bag"></i> سبد خرید
                    <a href="/cart" style="float: left">ویرایش</a>
                </h5>
            </div>
            {% for item in API.CART.order_contents %}
            <div class="media">
                <div class="media-left" style="width:25%">
                    <a href="#">
                        <img src="{{item.product.media.url | image}}" style="width:100%" alt="{{item.product.media.title}}">
                    </a>
                </div>
                <div class="media-body" style="width:75%">
                    <a href="{{item.product.slug}}" style="font-size: 1.2rem;width:90%;float: right;"> {{item.product.title}}
                        {{item.variant.title|replace('/-/','-')}}</a>
                    <form method="POST" action="{{API.ROUTES.POST.REMOVE_ORDER}}" style="padding-left:1rem;width:10%;float:left">
                        <input type="hidden" name="order_content_id" value="{{item.id}}">
                        <a onclick="this.parentNode.submit()" type="submit">
                            <i class="fa fa-times"></i>
                        </a>
                    </form>
                    <p>تعداد : {{item.count|p_number}}</p>
                    <p style="text-align:left">قیمت : {% if item | check('variant.price') %} {{ (item.count * item | check('variant.price')) | price}}
                        {% elif item | check('product.price') %} {{ (item.count * item | check('product.price')) | price}}
                        {% else %} {{ 0 | price}} {% endif %}
                    </p>

                </div>
            </div>
            {% endfor %}
            <h5 class="centered" style="margin:1rem;font-size:2rem">مجموع : {{API.CART.total_price|price}}</h5>
        </div>
    </div>

</div>