.note{
    text-align: center;
}

.fill{
    width:100%;
    display: block;
    padding: 0.5rem;
    background: $invert-color;
    margin: 0;
}

p,h4{margin: 0}

@include respond-to(tablet-and-higher){
    .note:not(:first-child){
        border-right: 1px solid $primary-color;
    }
    .note{
        width:33%;
        float: right
    }
}

@include respond-to(mobile){
    .note{
        width:100%;
    }

    .note:not(:last-child){
        border-bottom: 1px solid;
    }
}