<div class="fill row hidden-xs">
    <div class="note">
        <h4>{{note1Title}}</h4>
        <p>{{note1desc}}</p>
    </div>
    <div class="note">
        <h4>{{note2Title}}</h4>
        <p>{{note2desc}}</p>
    </div>
    <div class="note">
        <h4>{{note3Title}}</h4>
        <p>{{note3desc}}</p>
    </div>
</div>