@font-face {
    font-family: "IRANSans";
    src: url('./static/font/IRANSansWeb/IRANSansWeb.eot'); // IE9 compat
    src: url('./static/font/IRANSansWeb/IRANSansWeb.eot?#iefix') format('embedded-opentype'), // IE8 and below
        url('./static/font/IRANSansWeb/IRANSansWeb.woff') format('woff'), // standards
        url('./static/font/IRANSansWeb/IRANSansWeb.woff2') format('truetype'); // Safari, Android, iOS
    font-style: normal;
    font-weight: normal;
}
.rtl{
    direction: rtl!important;
    text-align: right!important
}
.tag{
    background: $primary-color;
    color: $invert-color;
    padding: 0.4rem;
    margin: 0.2rem;
    display: inline-block;
}
h1{
    color: $primary_color;
}
.bg-purple{
    background: $primary_color!important;
}

*:not(.fa){
    font-family: $font
}
[class*="col-"]{
    float: right;
}
.container{
    direction: rtl!important;
    text-align:right!important;
}
.centered{
    margin: 0 auto;
    text-align: center
}
.pr-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
@include respond-to(mobile){
    .add-quick {
        display: none;
    }

}
.add-quick::after {
    content: "مشاهده سریع";
}
    .add-quick {
    position: absolute;
    background: $primary_overlay;
    padding: 0.5rem;
    bottom: 10px;
    color: white;
    width: 80%;
    right: 10%;
    display: none;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal .price del{
    color: red;
    margin: 0.5rem
}
.modal .price{
    font-size: 2rem
}
@include respond-to(tablet-and-higher){
    .pr{
        height: 250px;
    }
}
.pr{
    margin-bottom: 3rem
}
.pr-title {
    color: $primary_color;
}

.pr-img:hover .add-quick {
    display: block;
}

.pr h4 {
    font-size: 1.4rem;
    text-align: center;
    color: $primary_text_color;
}
a{
    cursor: pointer;
}
.pr a {
    text-decoration: none;
}

.pr .price * {
    margin: 0 0.5rem
}

.pr .price {
    font-size: 1.4rem;
    text-align: center
}

.pr del {
    color: red;
}

.modal-dialog {
    top: 59% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    /* margin: auto 5%; */
    width: 75%;
    height: -webkit-fill-available;
}
@media screen and (min-height:800px){
    .modal-dialog {
        width: 58%;
    }    
}
.modal-content {
    // min-height: 100%;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.p-images.selected{
    border:1px solid $primary_color
}
::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: transparent;
}
.bg-purple{
    background: $primary-color!important;
}
a:hover{
    text-decoration: none;
    color: $primary_text_color;
}


.modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.drift-zoom-pane img { left: 0; }
.drift-bounding-box{
    z-index: 500!important;
}
.option-value.selected {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.7);
}
.btn-primary{
    background: $primary_color;
}
.btn-primary:hover{
    background: $secondary-color;
}
.option-value {
    margin: 3px;
    padding: 3px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    background: transparent;
}
.pointer{
	cursor: pointer;
}
.ltr,pre{
    direction: ltr;
    text-align: left
}
.option-value.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid $primary-color;
}
