{% if API.LAST_PRODUCTS|length%}
<div class="container-fluid" style="padding-left:4rem;padding-right:4rem">
    <h2 >محصولات جدید</h2>
    <div class="newin">
        {% for item in API.LAST_PRODUCTS%}
        <div class=" pr-img" style="margin-right:1rem">
            <a href="{{item.slug}}" ><img   style="width:100%" src="{{item.media.url|image}}"></a> 
            <div class="add-quick"   data-url="{{item.slug}}">
                
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endif %}