.image{
    margin: 1rem;
}

// .slick-prev,.slick-next,.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
//     background: #080113;
//     border-radius: 50%
// }
h2{text-align: center}

.slick-prev:before, .slick-next:before {
    color: $primary-color;
}