
<div class="container" style="padding-top:100px;padding-bottom:10rem">
    <div class="row">
            {{messages(API)}}
        <div class="col-sm-4 col-xs-6">
            <img src="{{API.SHOP.media.url|image}}" style="max-width:100%" alt="">
            <h5>{{API.SHOP.title}}</h4>
                <h5>{{API.SHOP.address.phone}}</h4>
                    <h5>{{API.SHOP.address.address}}</h5>
        </div>
        <div class="col-sm-8 col-xs-6"></div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <table class="desc">
                <tbody>
                    <tr>
                        <td>شماره</td>
                        <td>{{API.INVOICE.serial}}</td>
                    </tr>
                    <tr>
                        <td>تاریخ</td>
                        <td>{{API.INVOICE.completed_at|p_date}}</td>
                    </tr>
                    <tr>
                        <td>مشتری</td>
                        <td>{{API.INVOICE.customer.full_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h4>ارسال به :</h4>
            {{API.INVOICE.address.address}} / {{API.INVOICE.address.postal_code}} / {{API.INVOICE.address.phone}}
            <h4>توضیحات :</h4>
            <p>{{API.INVOICE.description|if_define}}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="rtl" width="50%">محصول</th>
                        <th class="rtl">قیمت</th>
                        <th class="rtl">تعداد</th>
                        <th class="rtl">مبلغ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in API.INVOICE.order_contents %}
                    <tr>
                        <td>
                            <a href="{{item.product.slug}}" target="blank">{{item.product.title}}
                            {{ item.variant.title }}</a>
                        </td>
                        <td> {%if item| check('variant.price') %}{{ item| check('variant.price') |price}}{%else%} {{item| check('product.price')
                            |price}}{%endif%}</td>
                        <td>{{item.count|p_number}}</td>
                        <td>{{item|check('cost')|price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-8">

        </div>
        <div class="col-xs-6 col-sm-4">
            <table class="desc">
                <tbody>
                    <tr>
                        <td>مجموع</td>
                        <td>{{API.INVOICE.total_price|price}}</td>
                    </tr>
                    <tr>
                        <td>وضعیت پرداخت</td>
                        <td> {% if API.INVOICE.payment_status %}پرداخت شده{% else %}پرداخت نشده{% endif %}</td>
                    </tr>
                    <tr>
                            <td>نحوه پرداخت</td>
                            <td> {% if API.INVOICE.payment_type == 1 %}اینترنتی{% elif API.INVOICE.payment_type == 2 %}نقدی{% endif %}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>