<div class="container">
        <div class="row form-block" >
            <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12" style="padding:30px" >
                
                <form action="/register" method="post" style="max-width:400px">
                    <div class="centered">
                        <img style="max-width:300px" src="{{API.SHOP.media.url|image}}"  alt="">  
                        </div>
                        <div class="form-group">
                            <label for="fullname">نام ونام خانوادگی</label>
                        <input type="text" name="full_name" class="form-control" id="fullname">
                    </div>
                    <div class="form-group">
                        <label for="email">ایمیل</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="mobile">تلفن</label>
                        <input type="text" name="mobile" class="form-control" id="mobile">
                    </div>
                    <div class="form-group">
                            <label for="pwd">کلمه عبور</label>
                            <div class="input-group" style="direction:ltr">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" onmousedown="document.getElementById('password').type = 'text'"
                                      onmouseup="document.getElementById('password').type = 'password'" type="button"><i class="fa fa-eye"></i></button>
                                    </span>
                                    <input type="password"  name="password" class="form-control rtl" id="password">
                                  </div>
                    </div>
                    <button type="submit" class="btn  login-btn">ثبت نام</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 login-image"  style="background-image:url(https://cdn.dribbble.com/users/143203/screenshots/2519919/signature.png);">
                <a class="inverselink" href="https://dribbble.com/shots/2519919-Sign-here" target="blank"> by David de la Iglesia </a>
            </div>
        </div>
    </div>