.profile-pic-hldr{
    border-radius:50%;
    height:100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.profile-pic-hldr,.profile-pic-hldr img{
    width:100%;
}
@include respond-to(mobile){
    .profile-pic-hldr{
        height: 100px;
        width: 100px;
    }
}
@include respond-to(tablet){
    .profile-pic-hldr{
        height: 150px;
        width: 150px;
    }
}
@include respond-to(desktop){
    .profile-pic-hldr{
        height: 200px;
        width: 200px;
    }
}
.address{
    margin-bottom: 1rem;
}
.tab{
    padding-top:1rem;
    padding-bottom:1rem;
}
.tab.active{
    background: $invert-color;
    color: $primary-color;
    font-weight: 600;
}
.address *{
    color: $primary-color;
}
.address{
    background: $invert-color;
}
.tabs{
    margin: 1rem 0; 
}
.panel-body .item{
    padding-right:1rem;
    text-align: right;
}