<div class="container" style="margin-top:4rem;margin-bottom:4rem">
    <div class="row" style="margin-bottom:1rem">
        <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">پروفایل</div>
                <div class="panel-body tabs" style="padding:0">
                    <p class="item  tab {%if 'carts' not in API.CURRENT_URL %}active{%endif%} pointer"
                       data-toggle="profileTab">مشخصات</p>
                    <p class="item  tab pointer " data-toggle="addressTab">آدرس</p>
                    <p class="item  tab {%if 'carts' in API.CURRENT_URL %}active{%endif%} pointer "
                       data-toggle="cartsTab">سفارشات</p>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-xs-12">
            {{messages(API)}}
            <div class="tab-content" id="cartsTab">
                <h2>لیست سفارشات</h2>
                <ul style="padding:0" class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1">
                                ردیف
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                سریال
                            </div>
                            <div class="col-xs-3 col-lg-3">
                                تاریخ ثبت
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                وضعیت
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                وضعیت پرداخت
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                مبلغ
                            </div>
                        </div>
                    </li>
                    {% for item in API.INVOICES.data %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1">
                                <a href="/invoice/{{item.serial}}">
                                    #{{loop.index}}
                                </a>
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                <a href="/invoice/{{item.serial}}">
                                    {{item.serial}}
                                </a>
                            </div>
                            <div class="col-xs-3 col-lg-3">
                                <a href="/invoice/{{item.serial}}">
                                    {{item.completed_at|p_date('YY-MM-DD') | if_define}}
                                </a>
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                <a href="/invoice/{{item.serial}}">
                                    {{status(item.status)}}
                                </a>
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                <a href="/invoice/{{item.serial}}">
                                    {% if item.payment_status %}پرداخت شده{% else %}پرداخت نشده{% endif %}
                                </a>
                            </div>
                            <div class="col-xs-2 col-lg-2">
                                <a href="/invoice/{{item.serial}}">
                                    {% if item.total_price | if_define %}
                                    {{item.total_price|price}}
                                    {%else%}
                                    -
                                    {%endif%}
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {{paginate(API.INVOICES)}}
            </div>
            <div class="tab-content" id="addressTab">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-8 ">
                        {% for address in API.CUSTOMER.addresses%}
                        <div class="col-xs-12 col-md-8 col-lg-8 address">

                            <h4>{%if API.CUSTOMER.address.id == address.id %}آدرس پیشفرض{%endif%}</h4>
                            <p>آدرس:{{address.address}}</p>
                            <p>کدپستی:{{address.postal_code}}</p>
                            <p>تلفن:{{address.phone}}</p>
                            <h4>
                                <div style="float:left;display:-webkit-inline-box">
                                    <a class="tab" data-toggle="editAddress{{address.id}}">
                                        <i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;
                                    </a>
                                    <form action="{{API.ROUTES.POST.REMOVE_ADDRESS}}" method="POST">
                                        <input type="hidden" name="address_id" value="{{address.id}}">
                                        <a onclick="this.parentNode.submit()">
                                            <i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;
                                        </a>
                                    </form>
                                    <form action="{{API.ROUTES.POST.SET_DEFAULT_ADDRESS}}" method="POST">
                                        <input type="hidden" name="address_id" value="{{address.id}}">
                                        <a onclick="this.parentNode.submit()">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </form>
                                </div>
                            </h4>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="col-xs-12 col-md-4 col-xs-4">
                        <div class="btn btn-primary tab" data-toggle="newaddress">اضافه کردن آدرس جدید</div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="newaddress">
                <div class="col-lg-8 col-sm-9 col-xs-12">
                    {{addressForm()}}
                </div>
            </div>
            <div class="tab-content" id="profileTab">
                <form action="{{API.ROUTES.POST.PROFILE_UPDATE}}" method="POST" enctype="multipart/form-data">
                    <h2>ویرایش مشخصات</h2>
                    <div class="form-group">
                        <label>نام و نام خانوادگی</label>
                        <input type="text" name="full_name" class="form-control"
                               value="{{API.CUSTOMER.user.full_name}}">
                    </div>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" name="email" class="form-control" value="{{API.CUSTOMER.user.email}}">
                    </div>
                    <div class="form-group">
                        <label>تلفن</label>
                        <input type="text" name="mobile" class="form-control" value="{{API.CUSTOMER.user.mobile}}">
                    </div>
                    <div class="form-group">
                        <label>نمایه</label>
                        <input type="file" name="image" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                    </div>
                </form>
            </div>
            {% for address in API.CUSTOMER.addresses%}
            <div class="tab-content" id="editAddress{{address.id}}">
                {{addressForm(True,address)}}
            </div>
            {%endfor%}
        </div>
    </div>


    <div class="row">

    </div>
</div>