.price * {
    margin: 0 0.5rem
}

.price {
    font-size: 2rem;
    margin: 1rem 0
}

del {
    color: red;
}
.p-images{
     margin-top: 1rem;
    cursor: pointer;
    background-color: white;
}
.p-images.selected {
    border: 1px solid $primary_color
}

.nav-tabs li {
    float: right;
}

.variants {
    display: -webkit-box;
    margin: 0.5rem 0;
}



.option-value {
    margin: 3px;
    padding: 3px;
    min-width: 30px;
    min-height: 30px;
    background: transparent;
}

.drift-zoom-pane img {
    left: 0;
}

.panel-group {
    border: 1px solid $primary-color;
}

.panel-group .panel+.panel {
    margin-top: 0 !important;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.panel-default:not(:last-child) {
    border: none;
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.image-lister div {
    display: inline-block;
    float: none;
}
.image-lister::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: $invert-color;
}

.image-lister::-webkit-scrollbar
{
	width: 8px!important;
	background-color: $invert-color;
}

.image-lister::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary_color;
}
.image-lister {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 10px
}
.meta{
    font-size: 1rem
}
#preview{
    position: relative;
        min-height: 28rem;
}
.pr-main-image{
    cursor:zoom-in;
}
.enlarged.active .zoomable{
    width:inherit;
}
// .enlarged.active .p-images{
//     width:10rem;
// }
.enlarged.active .image-lister{
    text-align: center;
    position: fixed;
    bottom: 6px;
    width: 89%;
    margin: 0 auto;
    height: 9rem;
}
.enlarged.active .pr-main-image{
    cursor: auto;
}
.enlarged.active .fa{
    color: $primary-color;
    font-size: 2rem;
}
.enlarged.active .close{
    padding: 2rem;
    position: absolute;
    z-index: 6;
}
.enlarged{
    display: none
}
.variant .well{
    cursor: pointer;
}
.enlarged.active{
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
    top: 0;
    z-index: 2;
    left: 0;
}
.enlarged .left{
    float: left;
    left:0;
    text-align: right;
}
.enlarged .right{
    float: left;
    right: 0;
    text-align: left;
}
.enlarged .right,.enlarged .left{
    padding: 1rem;
    width: 5%;
    position: relative; 
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}
.enlarged .content .zoomable{
    padding-bottom: 1rem;
    text-align: center;
}
.enlarged.active .p-images img{
    height: 100%;
    width: initial!important;
}
.enlarged.active .p-images{
    height: 100%;
    width: initial;
}
.enlarged .content{
    height: 100vh;
    float: left;
    width: 90%;
}
.page-modal-opener{
    float: left;
    padding: 0.3rem;
    border: 1px solid;
}
.enlarged.active .pr-main-image{
    margin: 0 auto;
    max-height: calc(100vh - 90px);
    width: initial!important;
}