<link rel="stylesheet" href="https://imgix.github.io/drift/dist/drift-basic.css">
<div class="container">
    <div class="row" style="margin: 5rem 0;">
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
            <div class="row" id="preview" style="overflow:hidden;margin-bottom:80px">
                {% set sku = API.PRODUCT.variant.sku  if  API.PRODUCT.variant else API.PRODUCT.sku %}
                <h2>{{API.PRODUCT.title}} </h2>
                {{messages(API)}} {% if API.PRODUCT.verbose %}
                <span class="meta">{{API.PRODUCT.verbose | if_define }}</span>
                {% endif %} {% if sku and API.PRODUCT.verbose %} <br> {% endif %} 
                {%if sku%}
                <span class="meta">کد کالا :{{sku | if_define }}</span>
                {%endif%}
                <div class="price">
                    {%if API.PRODUCT |check('compare_at_price')%}
                    <del>{{API.PRODUCT |check('compare_at_price')|price}}</del>
                    {%else%}
                    <del></del>
                    {%endif%}
                    <span id="price">
                        {%if  API.PRODUCT | check('variant.price')  %}{{  API.PRODUCT |check('variant.price')|price}}{%else%}
                        {{  API.PRODUCT | check('price') |price}}{%endif %}
                    </span>
                </div>
                <div class="variants ">
                    <div class="row" style="width:100%">
                        <form action="" method="GET" id="get-option">
                            
                            <a data-url="{{pageModalLink}}" class="page-modal-opener">{{pageModalTitle}}</a>
                            {% for option in API.PRODUCT.options %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="">{% if option.is_color %}رنگ{% else %}{{option.title}}{% endif %}:</label>
                                <br>
                                <div style="display:inline-flex">
                                    {% for value in option.value %}
                                    <a class="variant" onclick="this.children[0].children[0].checked=true;document.getElementById('get-option').submit();">
                                        <div class="well well-sm option-value {% if value in API.PRODUCT.variant.title or ('title' in value and value.title in API.PRODUCT.variant.title ) %}selected{%  endif %}"
                                        {% if option.is_color %}style="background:{{value.code}}" {% endif %}>
                                        
                                        <input style="display:none" type="radio" {% if value in
                                            API.PRODUCT.variant.title or ('title' in value and value.title in
                                            API.PRODUCT.variant.title )
                                            %}checked{% endif %}
                                            name="{% if option.is_color %}color{% else %}{{option.title}}{% endif %}"
                                            value="{% if option.is_color %}{{value.title|p_number}}{% else %}{{value}}{% endif
                                                %}">
                                                {% if not option.is_color %}{{value}}{% endif %}
                                            </div>
                                        </a>
                                        
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}

                        </form>
                    </div>
                </div>
                {% set availabe = API.PRODUCT.allow_out_of_stock or API.PRODUCT.variant.available or (not API.PRODUCT.variant and API.PRODUCT.available) %}
                {% set count = (API.PRODUCT.variant.count or 0 ) if  API.PRODUCT.variant else API.PRODUCT.count %}
                <form action="{{ API.ROUTES.POST.ADD_TO_CART }}" method="POST">
                    <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2 " style="padding:0">
                        <input style="text-align:center" class="form-control" type="number" name="count"
                        placeholder="تعداد" min="1" {% if not API.PRODUCT.allow_out_of_stock %}max="{{count}}"{%endif%}
                        value="1">
                        <input type="hidden" name="product_id" value="{{API.PRODUCT.id}}">
                        <input type="hidden" name="variant_id" value="{{API.PRODUCT.variant.id}}">
                    </div>
                    <div class="form-group col-xs-9 col-sm-9 col-md-10 col-lg-10 ">
                        <button type="submit"
                        {%if availabe %}
                        class="btn  btn-block btn-success">اضافه</button>
                        {% elif not availabe and API.PRODUCT.variant %}
                        disabled class="btn  btn-block btn-success"> نوع "{{API.PRODUCT.variant.title|join('-')}}" موجود نیست</button>
                        {% else %}
                        disabled class="btn  btn-block btn-success">محصول موجود نیست</button>
                        {%endif%}
                    </div>
                </form>
            </div>
            <!-- tags -->
            {{taglist(API.PRODUCT)}}
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                توضیحات
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                         style="overflow:hidden">
                        <div class="panel-body">
                            {{API.PRODUCT.description|safe}}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                ویژگی ها
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    {% for attr in API.PRODUCT.attributes %}
                                    <tr>
                                        <td style="width:150px">{{attr.title}}</td>
                                        <td>{{attr.value}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if API.PRODUCT|check('variant.media.url') %}
        {% set media = API.PRODUCT.variant.media %}
        {% set medias = API.PRODUCT.variant.medias %}
        {% elif API.PRODUCT|check('media') %}
        {% set media = API.PRODUCT.media %}
        {% set medias = API.PRODUCT.medias %}
        {% endif %}
        {% if media is not none and medias is not none%}
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12 zoomable">

            <img class="pr-main-image" id="thumb" src="{{media|check('url')| image}}"
                 data-zoom="{{media|check('url')| image}}"
                 alt="{{media|check('title')}}" style="width:100%">
            <div class="row image-lister">
                {% for m in medias %}
                <div class="col-sm-4 col-xs-6 col-md-4 col-lg-3 p-images {% if m.url==API.PRODUCT|check('variant.media.url') %}selected{% endif %}"
                     data-index="{{loop.index}}">
                    <img src="{{m.url | image}}" alt="{{m.title}}" style="width:100%">
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
            <img src="static/image/NO_IMAGE.png"
                 alt="NO IMAGE!" style="width:100%">
        </div>
        {% endif %}

    </div>
</div>
<div class="enlarged">
    <a class="close">
        <i class="fa fa-times"></i>
    </a>
    <a class="left">
        <i class="fa fa-chevron-left"></i>
    </a>
    <div class="content"></div>
    <a class="right">
        <i class="fa fa-chevron-right"></i>
    </a>
</div>



