
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 >محصولات</h2>
        </div>
        <div class="col-xs-12">
            {{messages(API)}}
        </div>
        {% for product in API.PRODUCTS.data %}
        {{product_item(product)}}
        {% endfor %}
        <div class="col-sm-12">
            {{paginate(API.PRODUCTS)}}
        </div>
    </div>
</div>
