
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>مجموعه ها</h2>
        </div>
        {% for collection in API.COLLECTIONS.data %}
        <div class="col-md-4 col-lg-3 col-sm-4 col-xs-6 collection">
            <div class="collection-back0"></div>
            <div class="collection-back1"></div>
            <a href="{{collection.slug}}">
                <div class="collection-image" 
                style="background-image:url({% if collection|check('media.url') %}{{collection|check('media.url')|image }}{%else%}static/image/NO_IMAGE.png{%endif%})">
                    <div class="collection-title">
                        {{collection.title}}
                    </div>
                </div>
            </a>
        </div>        
        {% endfor %}
    </div>.
    <div class="row">
        {{paginate(API.COLLECTIONS)}}
    </div>
</div>