.collection-image{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 16px;
    margin-right: 16px;
}
.collection-image,.collection-back1,.collection-back0{
    height: 180px;
    border-radius: 15px;
    border: 1px solid $primary-color;

}
@include respond-to(mobile){
    .collection-back0,.collection-back1{
        width: 77%;
    }
    
}
@include respond-to(tablet){
    .collection-back0,.collection-back1{
        width: 85%;
    }
    
}
@include respond-to(desktop){
    .collection-back0,.collection-back1{
        width: 86%;
    }
    
}
.collection-back0,.collection-back1{
    background: white;
    position: absolute;

}
.collection-back1{
    z-index: -1;
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0.8;
}
.collection-back0{
    z-index: -2;
    opacity: 0.5;
}
.collection{
    margin-bottom: 2rem;
}
.collection-title{
    position: absolute;
    bottom: 1px;
    width: 85%;
    padding: 1rem;
    font-size: 1.9rem;
    background: white;
    text-align: center;
    overflow: hidden;
    padding-left: 16px;
    color: $primary-color;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}