<div class="container">
    <h2 >آخرین محصولات</h2>
    <div class="last-products">
        {% for item in API.LAST_PRODUCTS%}
        <div class=" pr-img" style="margin-right:1rem">
            <div style="position: relative;">
                
           <a href="{{item.slug}}" ><img   style="width:100%" src="{{item.media.url|image}}"></a> 
            <div class="add-quick"   data-url="/product-detail?id={{item.id}}">
                   
            </div>
            </div>
            <h5>{{item.title}}</h5>
        </div>
         {%endfor%}
    </div>
</div>