<div class="container-fluid" style="padding-left:4rem;padding-right:4rem">
    <div class="row" style="padding-top:2rem;padding-bottom:1rem">
        <a href="{{link1}}">
            <div class="col-sm-6 block" style="width:{{100/blocksinrow}}%
            ;{%if 1%blocksinrow != 0 %}padding-left:1rem
            {%endif %}">
                <img src="{{image1}}" alt="">
            </div>
        </a>
        <a href="{{link2}}">
            <div class="col-sm-6 block" style="width:{{100/blocksinrow}}%
            ;{%if 2%blocksinrow != 0 %}padding-left:1rem
            {%endif %}">
                <img src="{{image2}}" alt="">
            </div>
        </a>
        <a href="{{link3}}">
            <div class="col-sm-6 block" style="width:{{100/blocksinrow}}%
            ;{%if 3%blocksinrow != 0 %}padding-left:1rem
            {%endif %}">
                <img src="{{image3}}" alt="">
            </div>
        </a>

    </div>
</div>