.vc {
    height: 180px;
    display: flex;
    display: -webkit-flex;
    margin: auto;
    border-radius: 20px;
}

.vc>* {
    text-align: center;
    margin: auto;
    /* Important */
}
th{text-align: right}
td{
    vertical-align: middle!important;
}
@include respond-to(tablet) {
    .vc {
        height: 50px;
    }
}

@include respond-to(mobile) {
    .vc {
        height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .vc {
        height: 50px;
    }
}

@include respond-to(tablet-and-below) {
    .cart-order {
        border-bottom: 1px solid $primary-color;
    }
}

.remover * {
    color: $primary_color
}

.remover {
    padding-left: 1rem;
    background: white;
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 1rem;
}

.address {
    cursor: pointer;
}

.panel {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}