<div class="container">
    <div class="row">
        {{messages(API)}}
    </div>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th >تصویر</th>
                    <th>عنوان</th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                    <th>قیمت کل</th>
                </tr>
            </thead>
            <tbody>
                {% for item in API.CART.order_contents %}
                <tr>
                    <td style="max-width:100px">
                        <img src="{{ item.product.media.url | image}}" style="width:100%" alt="">
                    </td>
                    <td >
                        <a href="{{ item.product.slug }}">{{item.product.title}}
                            <br>
                            {{item.variant.title|replace('/-/','-')}} 
                        </a>
                        
                    </td>
                    <td style="width:70px">
                        <form action="{{API.ROUTES.POST.SET_ORDER_COUNT}}" method="POST">
                            <input style="text-align:center" name="count" type="number" min="1" data-id="{{item.id}}"
                            class="form-control orderinput" value="{{item.count}}">
                            <input type="hidden" name="order_content_id" value="{{item.id}}">
                        </form>
                    </td>
                    <td>
                        <div>
                            {% if 'compare_at_price' in item.product and item.product.compare_at_price is not none %}
                            <del>{{item.product |check('compare_at_price')|price}}</del>
                            <br>
                            {% endif %}
                            <i>
                                {%if item | check('variant.price') %} {{ item.variant|check('price')
                                | price}}
                                {% elif item | check('product.price') %} {{ item.product|check('price')|price}}
                                {% else %} {{ 0 |price}}
                                {% endif %}
                            </i>
                            <br>
                        </div>
                    </td>
                    <td>
                        <span style="text-align: left">
                            {%if item | check('variant.price')%}
                            {{ (item.count * item.variant.price|int) |price}}
                            {% elif item | check('product.price') %}
                            {{ (item.count * item.product.price|int) |price}}
                            {% else %}
                            -
                            {% endif %}
                        </span>
                        <form method="POST" action="{{API.ROUTES.POST.REMOVE_ORDER}}" class="remover">
                            <input type="hidden" name="order_content_id" value="{{item.id}}">
                            <a onclick="this.parentNode.submit()" style="float:left" type="submit">
                                حذف
                                <i class="fa fa-trash"></i>
                            </a>
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>
        <div class="row" style="text-align: left">
            <div class="col-lg-9 col-md-9 col-xs-6">
                <h4>مجموع</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 ">
                <h4>{{API.CART.total_price|price}}</h4>
            </div>
        </div>
        <div class="row" style="margin-top:2rem">
            <div class="col-sm-4 col-xs-6">
                <a href="/checkout" class="btn  btn-block btn-primary">خرید</a>
            </div>
            <div class="col-sm-4 col-xs-6 hidden-xs">
            </div>
            <div class="col-sm-4 col-xs-6">
                <a href="/" class="btn  btn-block btn-default">ادامه سفارش </a>
            </div>
        </div>
    </div>
</div>
</div>
{#
    
    
    <div class="col-lg-2 col-md-3 col-sm-2 col-xs-4 vs ddd">
        {% if item | check('variant.price') %} {{item.variant.price | price}}
        {% elif item | check('product.compare_at_price') %} {{item.product.compare_at_price | price}}
        {% elif item | check('product.price') %} {{item.product.price | price}}
        {% else %} {{ 0 | price}}
        {% endif %}
    </div>
    
    
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-3 vc">
        <a href="{{ item.product.slug }}">{{item.product.title}}
            {%if item | check('variant') %} > {{item.variant.title}} {% endif %}
        </a>
    </div>
    #}