.inverselink{
    color: white
}
.login-image a{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}
@include respond-to(tablet-and-higher){
    [class*='col-']{
        float: left!important;
    }
}
.login-image{
    background-position: center;
    background-size: cover;
    min-height: 450px
}

.form-block:hover{
    -webkit-box-shadow: -1px 0px 85px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 85px -19px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 85px -19px rgba(0,0,0,0.75);
}
.login-btn:hover{
    color: lightgrey
}
.login-btn{
    background: $primary_color!important;
    color: white
}
.form-block{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: -20px;
}
@include respond-to(tablet-and-higher) {
    .form-block{
        margin-top: 50px;
        margin-bottom: 50px;
    }
 }
