<div class="container">
    <div class="row form-block" >
        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12" style="padding:30px" >
            <form action="{{API.ROUTES.POST.LOGIN}}" method="post" style=";max-width:400px">
                {{messages(API)}}
                <div class="centered">
                    <img style="max-width:300px" src="{{API.SHOP.media.url|image}}"  alt="">  
                </div>
                <div class="form-group">
                    <label for="email">نام کاربری</label>
                    <input name="username" type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">کلمه عبور</label>
                    <input type="password" name="password" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn  login-btn">ورود</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 login-image"  style="background-image:url('/static/image/login.jpg')">
            <a class="inverselink" href="https://dribbble.com/shots/3859633-New-opportunities-illustration" target="blank"> by Daniel Mitev</a>
        </div>
    </div>
</div>