.blog-img{
    border: 1px solid $primary-color;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-bottom: none;
}
// .row [class*="col-"]:nth-child(4n-2) .blog-title{
//     width: calc( 100% - 15px );
// }
.blog{
    margin-bottom: 3rem;
    height: 220px;
}
.blog-title{
    width: 100%;
    // position: absolute;
    // bottom: 0;
    border: 1px solid $primary-color;
    border-top:none;
    padding: 0.5rem;
    color: $primary-color;
    font-weight: 600;
    height: 70px;
    background: white;
}
