<div class="container">
    <div class="row rtl" style="margin-bottom:5rem">
        <div class="col-xs-12">
            <h2>پست ها </h2>
        </div>
        {% for blog in API.BLOGS.data %}
        <div class="col-sm-4 col-md-3 col-lg-3 col-xs-6 blog">
            <a href="{{blog.slug}}">
                <div class="blog-img" style="background-image:url({{blog.media.url|image}})">
                </div>
                <div class="blog-title">
                    {{blog.title}}
                    <br>
                    <div  style="position:absolute;bottom:0;font-weight:300;width:90%">
                        <div class="col-xs-9">
                            <span style="font-size:1rem;">
                                <i class="fas fa-user-clock"></i>{{blog.created_at|p_date}}</span>
                        </div>
                        <div class="col-xs-3 " style="text-align:left;padding-right:15px">
                            {{blog.commentable_count|p_number}}<i class="fa fa-comments"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if API.BLOGS.last_page>1 %}
    <div class="col-sm-12">
        <nav aria-label="Page navigation">
            <ul class="pagination rtl">
                <li>
                    <a href="{{API.CURRENT_URL}}?page={{API.BLOGS.previous}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in range(1,API.BLOGS.last_page)%}
                <li>
                    <a href="{{API.CURRENT_URL}}?page={{p}}">{{p}}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="{{API.CURRENT_URL}}?page={{API.BLOGS.next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</div>