<div class="container">
    <ol class="breadcrumb">
        {% for item in API.BREADCRUMBS %}
        <li>
            <a href="{{item.link}}">{{item.title}}</a>
        </li>
        {% endfor %}
    </ol>
</div>