
.blog-img{
    height: 200px;
    background-size: contain;
    background-position: center;
}

.blog-title{
    width: calc( 100% - 30px );
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    color: #f5f5f5;
    background: rgba(0, 0, 0, 0.6);
}
