
    {%if 'blog' in API.CURRENT_URL%}
        {% set resault_type = 'blog' %}
        {%else%}
        {% set resault_type = 'product' %}
    {% endif %}
<div class="container">
    <div class="row">
        {% if resault_type == 'product' %} {% for product in API.SEARCH.data %}
        {{product_item(product,countInRow)}}
        {% endfor %}
        
        {% else %} {% for blog in API.SEARCH.data %}
        <div class="col-lg-{{ (12/countInRow )| ceil }} col-md-{{(12/(countInRow-1))|ceil}} col-sm-{{(12/(countInRow-1))|ceil}} col-xs-{{(12/(countInRow-2))|ceil}}">
            <a href="{{blog.slug}}">
                <div class="blog-img" style="background-image:url({{blog.media.url|image}})">
                    <div class="blog-title">
                        {{blog.title}}
                        <br>
                        <span style="font-size:0.8rem">
                            <i class="fas fa-user-clock"></i>{{blog.created_at}}</span>
                    </div>
                </div>
            </a>
        </div>{% endfor %}
         {% endif %}
        <div class="col-sm-12">
        {{paginate(API.SEARCH)}}        
            </div>
    </div>
</div>

<div id="pr-detail" class="modal fade" role="dialog">

</div>
