<div class="py-5  main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-6 col-md-8   col-xs-12">
                <div class="row">
                    {% for link in API.FOOTER_MENU %}
                    <div class="col-md-{{12/(API.FOOTER_MENU|length)}} col-sm-{{12/(API.FOOTER_MENU|length)}}
					col-xs-{{24/(API.FOOTER_MENU|length)}}" style="width:{{100/(API.FOOTER_MENU|length)}}%">
                        {# <a class="text-muted"href="{{link.link}}" >#}
                            <h4>{{link.title}}</h4>
                        {# </a>#}
                        {% if link.children|length %}
                        <div class="items">
                            {% for child in link.children %}
                            <a href="{{child.link}}">
                                <h6>{{child.title}}</h6>
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
                <h5 style="font-size:3.5rem ;margin:3rem 0;text-align:center">
                    <a href="{{instagramLink}}" target="blank" ><i class="fa fa-instagram"></i></a>
                    <a href="{{facebookLink}}" target="blank" ><i class="fa fa-facebook"></i></a>
                    <a href="{{twitterLink}}" target="blank" ><i class="fa fa-twitter"></i></a>
                    <a href="{{telegramLink}}" target="blank" ><i class="fa fa-telegram"></i></a>
                    <a href="{{googleLink}}" target="blank" ><i class="fa fa-google-plus"></i></a>
                </h5>
                    {#
                    <form class="input-group" method="POST" action="{{API.ROUTES.POST.SUBDCRIPTION}}"
                    style="direction:ltr;margin-top:4rem;">
					<span class="input-group-btn">
                        <button class="btn btn-success" type="submit">عضویت در خبرنامه</button>
					</span>
                    <input type="email" class="form-control rtl" name="email" placeholder="ایمیل">
                </from>
                <!-- /input-group -->
            </div>
            #}
        </div>
        <div class="row shop-info" style="margin:2rem 0">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    {{API.SHOP.address.address}}&nbsp;
                    <i class="fa fa-map"></i>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    {{API.SHOP.address.postal_code}}&nbsp;
                    <i class="fa fa-map-pin"></i>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    {{API.SHOP.address.phone}}&nbsp;
                    <i class="fa fa-phone"></i>
                </div>
                <p style="text-align:center">
                </p>
                </ul>
            </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <p>کلیه حقوق وبسایت برای فروشگاه {{API.SHOP.title}} محفوظ است.</p>
            <p style="font-size:1.3rem">powered by
                <a href="http://desketo.com" target="blank">desketo</a>
            </p>
        </div>
    </div>
</div>