.container{
    color: azure
}
.main-footer,ul, li,p{
    background: $invert-color;
    color: $primary-text-color;
}
.items{
    padding-right: 1rem;
}
a{
    color:$primary-color;
}
*{
    color: $primary-text-color;
}
.shop-info{
    text-align: center;
    margin-top: 2rem
}
.input-group .form-control{
    z-index: 1;
}