.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.row-menu .container {
    height: 52px;
    
}
.menu-items .container {
    overflow-y: auto;
}
.menu-items .container::-webkit-scrollbar-track
{
	border: 1px solid $primary_color;
	background-color: $invert-color;
}

.menu-items .container::-webkit-scrollbar
{
	width: 5px;
	background-color: $invert-color;
}
.menu-items .container::-webkit-scrollbar-thumb
{
    background-color: $primary_color;	
}


.row-menu {
    border-bottom: 1px solid $primary_text_color;
}

.row-menu>.container>div,
.menu-item {
    padding: 1rem;
    height: 100%;
}

.center {
    text-align: center;
    float: none;
    width: 33%;
    display: inline-block;
}

.left {
    text-align: left;
    float: left;
}

.right>* {
    float: right;
}

.left>* {
    float: left;
}

.right {
    text-align: right;
    float: right;
    min-width: 33%;
}

* {
    color: $primary_color;
}

.fa-4 {
    font-size: 3rem;
    margin: 0 0 0 2rem;
}
#cart-opener{
    position: relative;
}
.badge {
    position: absolute;
    background: black;
    color: white;
    border: 2px solid white;
    top: 20px;
    font-size: 1rem;
    margin-right: 22px;
    padding: 0.3rem;
    min-width: 2rem;
    border-radius: 50%;
    left: 0;
}

.main-logo {
    max-width: 100%;
    height: 100%;
}

.search.active {
    border-bottom: 1px solid;
    color: grey !important;
    display: -webkit-inline-box;
}

.search.mobile-only.active {
    width: 100%;
}

.search.active input {
    display: block;
}

.search input {
    border: none;
    display: none;
}

.user .user-actions {
    display: none;
}

.user-actions {
    position: absolute;
    border: 1px solid;
    left: -14px;
    min-width: 125px;
}

.user.active .user-actions {
    display: block;
    background: white;
    z-index: 1;
}

.user {
    position: relative;
}

.user-actions .row {
    margin: 1rem 2rem;
    text-align: center;
}

.mobile-only {
    display: none;
}

ul {
    background: white;
    list-style-type: none;
}
i.fa{
    cursor: pointer;
}

@include respond-to(mobile-higher) {
    .l1>.has-child.active>span::after {
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: #000000;
        content: " ";
        position: absolute;
        margin-top: 2.2rem;
        z-index: 0;
    }
    ul.l3{
        padding: 0!important
    }
    .l2>li{
        float: right;
    }
    .l3>li{
        width:100%!important;
        display: block!important;
    }
    li {
        display: inline-block;
    }
    .l1 {
        padding: 0;
        margin: 0;
    }
    li {
        padding: 1rem;
    }
    .l1>li>h6{
        font-size: 1.7rem;
        color: #505252;
        font-weight: 500;
    }
    .l2>li>h6{
        font-size: 1.4rem;
        font-weight: 600
    }
    .l3>li{
        padding: 0.6rem!important;
    }
    ul.l2 {
        display: none;
    }
    li.active>ul {
        display: block;
    }
    .auto-complete a img{
        margin: 0 5px;
    }
    .auto-complete{
        position: absolute;
        background: white;
        padding: 1rem;
        min-width: 398px;
        top: 45px;
        z-index: 3;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
        box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
    }
    ul.l2 {
        position: absolute;
        width: 100vw;
        top: 90px;
        right: 0;
        padding-bottom: 3rem;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    ul.l2>li>h6 {
        padding-bottom: 4px;
        border-bottom: 1px solid;
    }
    .menu h6{
        margin: 0;
    }
    .l2 li{
        text-align: right;
    }
    ul>li>a {
        width: inherit;
        padding-left: 70%;
    }
    .l2>li>a {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .l1>li>a {
        padding: 0 !important;
    }
    .menu-link>a {
        text-align: center;
    }
    .l1>li {
        text-align: center;
    }
    .cart {
        width: 297px;
        background: white;
        border: 1px solid;
        padding: 0.5rem;
        position: absolute;
        top: 40px;
        right: 0px;
        z-index: 3;
    }
    .spacer {
        height: 105px;
    }
}

.cart {
    display: none;
}

.cart.active {
    display: block;
}

@include respond-to(tablet) {
    .menu-items>.container {
        padding: 0 !important;
    }
}

.cart-top {
    text-align: center
}
li{
    white-space: nowrap;
}
@include respond-to(mobile) {
    .auto-complete{
        position: absolute;
        background: white;
        padding: 1rem;
        width: 100%;
        top: 89px;
        right: 0;
        z-index: 3;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
        box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
    }
    .center {
        width: 88px;
    }
    #menu-opener {
        margin: 0;
    }
    .menu-items {
        display: none;
    }
    .menu-items.active {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        height: initial;
        z-index: 3;
        height: 100vh;
        overflow-y: scroll;
    }
    .cart {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        background: white;
        z-index: 3;
    }
    .cart-action {
        position: absolute;
        bottom: 6px;
        width: 100%;
        padding: 0.5rem;
    }
    .menu-items>.container {
        width: 100%;
        height: initial;
    }
    .mobile-only {
        display: block !important;
    }
    i.mobile-only {
        display: inline-block !important;
    }
    .mobile-only:not(i) {
        display: block !important;
    }
    .main-logo {
        margin: 0;
    }
    .user {
        display: none;
    }
    ul>li {
        width: 100% !important;
        padding: 1rem;

    }
    li>span{
        float: right;
    }
    li.has-child>span {
        padding:1rem;
    }
    li.has-child>span::before {
        content: "+";
    }
    li.has-child.active>span::before {
        content: "-";
    }
    li {
        border-bottom: 1px solid $invert-color;
    }
    .has-child.active {
        border: none !important
    }
    .l1 {
        padding: 0;
    }
    .has-child>ul {
        display: none;
    }
    .has-child.active>ul {
        display: block;
    }
    .l1>li>h6,.l1>li>span {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .l2>li>h6,.l2>li>span {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .l3>li>h6,.l3>li>span {
        font-size: 1.2rem;
        font-weight: 150;
    }
    .spacer {
        height: 53px;
    }
    .cart-content {
        overflow-x: scroll;
        height: 69%;
    }
}

.profile-image {
    height: 35px;
    border-radius: 50%;
    width: 35px;
}

.menu-item {
    display: block;
    float: right;
    text-align: center;
    font-size: 1.6rem;
}

a {
    cursor: pointer !important;
    color: $primary_text_color;
}

.has-child+.full-menu {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: white;
    top: 0;
}

.navbar {
    margin-bottom: 0;
}
.auto-complete span{
    font-weight: 600;
    color: $primary_color;
}
.auto-complete h6 {
    max-height: 2rem;
}