<div class="navbar">
    <div class="row-menu">
        <div class="container">
            <div class="right" style="position:relative">
                <i id="cart-opener" class="fa fa-4 fa-shopping-bag">
                    {% if API.CART.order_contents|length %}<span class="badge">{{API.CART.order_contents|length|p_number}}</span>{%endif%}
                </i>
                {% if API.CART.order_contents|length %}
                <div class="cart">
                        <h3 class="cart-top">
                            <i class="fa fa-shopping-bag"></i> سبد خرید
                            <i class="fa fa-4 fa-times mobile-only" id="cart-closer" style="float:left"></i>
                        </h3>
                        <div class="cart-content">
                
                            {% for item in API.CART.order_contents %}
                            <div class="media">
                                <div class="media-right" style="width:25%">
                                    <a href="#">
                                        <img src="{{item.product.media.url |if_define | image}}" style="width:100%" alt="{{item.product.media.title}}">
                                    </a>
                                </div>
                                <div class="media-body" style="width:75%">
                                    <a href="{{item.product.slug}}" style="font-size: 1.2rem;width:90%;float: right;">
                                        {{item.product.title}}</a>
                                    <form method="POST" action="{{API.ROUTES.POST.REMOVE_ORDER}}" style="padding-left:1rem;width:10%;float:left">
                                        <input type="hidden" name="order_content_id" value="{{item.id}}">
                                        <a onclick="this.parentNode.submit()" type="submit">
                                            <i class="fa fa-times" style="margin-top:2rem"></i>
                                        </a>
                                    </form>
                                    <p>تعداد : {{item.count|p_number}}</p>
                
                                    <p>قیمت :{% if item|check('cost')%} {{item.product.price|price}}{%endif %}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cart-action">
                            <h3 class="cart-top" style="margin:1rem;text-align:left">مجموع : {{API.CART.total_price|price}}</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="/checkout" class="btn btn-primary btn-block">اتمام خرید</a>
                                    <a href="/cart" class="btn btn-default btn-block">نمایش سفارشات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
                <form class="search hidden-xs" action="/search" method="GET">
                    <a>
                        <i class="fa fa-4 fa-search"></i>
                    </a>
                    <input type="search"  name="q" id="" placeholder="جستجو">
                </form>
            </div>
            <div class="center">
                <a href="/">
                    <img class="main-logo" src="{{API.SHOP|check('media.url')|image}}" alt="">
                </a>
            </div>
            <div class="left">
                {%macro user()%}
                <div class="user  ">
                    {% if API.CUSTOMER.id %}
                    <a id="user">
                        <img src="{%if API.CUSTOMER|check('user.media.url')%}{{API.CUSTOMER.user.media.url|image}}{%else%}/static/image/pp.png{%endif%}"
                            class="profile-image"> {{API.CUSTOMER.user.full_name}}
                    </a>
                    <div class="user-actions">
                        <div class="row">
                            <a href="/profile">پروفایل</a>
                        </div>
                        <div class="row">
                            <a href="/profile?carts">سفارشات</a>
                        </div>
                        <div class="row">
                            <a href="/logout">خروج</a>
                        </div>
                    </div>
                    {%else%}
                    <a id="user">
                        <i class="fa fa-4 fa-user"></i>
                    </a>
                    <div class="user-actions">
                        <div class="row">
                            <strong> ورود - عضویت </strong>
                        </div>
                        <div class="row">
                            <a href="/login">
                                ورود
                            </a>
                        </div>
                        <div class="row">
                            <a href="/register">عضویت</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                {%endmacro%} {{user()}}
                <a id="menu-opener" class="mobile-only">
                    <i class="fa fa-4 fa-reorder" style="margin:0"></i>
                </a>
            </div>
        </div>
    </div>
    {% macro menu(item,length,level)%}
    <li class="menu-link {% if item.children | length %} has-child {%endif%}"
     style="width:{% if length <= 5 %}{{(100/length)-1}}{%else%}20{%endif%}%">
        <span></span>
        {% set link = item.link + '' %}
        <h6> <a href="{{item.link}} " {% if 'http' in link   %} target="blank" {% endif %}>
            {% if item.children | length %}
            <i class="fa colapse-arrow mobile-only"></i>{%endif%}   {{item.title}}
        </a></h6>
        {% if item.children | length %}
        <ul class="menu l{{level+1}}">
            {% for sub in item.children %} {{menu(sub,item.children|length,level+1)}} {%endfor%}
        </ul>
        {%endif%}
    </li>
    {%endmacro%}
    <div class="row-menu menu-items ">
        <div class="container">
            <a id="menu-closer" style="text-align:left!important" class=" mobile-only">
                <i class="fa fa-4 fa-times"></i>
            </a>
            <ul class="menu l1">
                <form class="search mobile-only " action="/search" method="GET">
                    <a>
                        <i class="fa fa-4 fa-search"></i>
                    </a>
                    <input type="search"  name="q" id="" placeholder="جستجو">
                </form>
                {% for item in API.HEADER_MENU[0:5] %} {{menu(item, API.HEADER_MENU[0:5]|length,1)}} {% endfor %} {% if API.CUSTOMER.id %}
                <li class="menu-link mobile-only has-child active">
                    <a>
                        <img src="{%if API.CUSTOMER|check('user.media.url')%}{{API.CUSTOMER.user.media.url|image}}{%else%}/static/image/pp.png{%endif%}"
                            class="profile-image"> {{API.CUSTOMER.user.full_name}}
                    </a>
                    <ul class="menu l2">
                        <li class="menu-link">
                            <a href="/profile">پروفایل</a>
                        </li>
                        <li class="menu-link">
                            <a href="/profile?carts">سفارشات</a>
                        </li>
                    </ul>
                </li>
                {%else%}
                <li class="menu-link mobile-only">
                    <a href="/login">ورود</a>
                </li>
                <li class="menu-link mobile-only">
                    <a href="/register">ثبت نام</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
   
</div>
<div class="spacer" style="width:100%"></div>