<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <h4>
                <i class="fa fa-sliders"></i>&nbsp;فیلتر ها</h4>
        </div>
        {% for filter in API.FILTER.filters%}
        <div class="col-lg-4" style="width:{{80/API.FILTER.filters|length}}%">
            <div class="filter">
                <h5>{{filter.title}}
                    <i class="fa fa-chevron-down"></i>
                </h5>
                <ul class="filter-options">
                    {% for value in filter.value %}
                    <li>
                        <a href="{{value.link}}">
                            <input class="custom" type="checkbox" id="custom{{filter.title}}{{loop.index}}"
                            data-url="{{value.link}}"
                                {% if value.is_active%}checked{%endif %}>
                            <label class="filter-option-value" for="custom{{filter.title}}{{loop.index}}"></label>&nbsp;&nbsp;
                            <span>{{value.title|p_number}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class=" row applieds" style="display:inline-flex">
        {% for applied in API.FILTER.applied%}
        <div class="applied">{{applied.title|p_number}}&nbsp;&nbsp;
            <a href="{{applied.link}}">
                <i class="fa fa-times"></i>
            </a> </div>
        {% endfor %}
    </div>
</div>