.filter .filter-options {
    display: none;
    position: absolute;
    z-index: 2;
    background: white;
    padding: 1.5rem;
    border: 1px solid $primary-color;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
*{
    color:$primary-text-color;
}
.filter {
    cursor: pointer;
}

.filter h5 {
    display: inline-table;
    padding: 1rem;
    margin: 0;
}

.filter.active h5 {
    border: 1px solid $primary-color;
    border-bottom: none;
    position: relative;
    z-index: 3;
    background: white;
}

.filter.active .filter-options {
    margin-top: -1px;
    display: block;
}
ul {
    list-style-type: none;
  }
  input[type=checkbox] {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox] + label {
    height:22px; 
    width:22px; 
    display:inline-block;
    line-height:22px;
    border: 2px solid $primary-color;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:22px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox]:checked + label {
    width:  14px;
    height: 14px;
    background: #563d7c;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #563d7c;
    margin: 4px 4px 8px;
}
.applied a{
    color: $primary-text-color;
}
.applied{
    border: 1px solid $primary-color;
    padding:2px;
    margin: 3px;
    color: $primary-text-color;
}
