
<div class="container">
    <div class="row">
        <div class="col-sm-11 col-md-10 col-lg-10 col-xs-10">
            {{messages(API)}}
            <h2>{{API.BLOG.title}}</h2>
            <span class="metta">{{API.BLOG.created_at|p_date}}</span>
            <div class="image" style="background-image:url({{API.BLOG.media.url|image}})">

            </div>
            {{API.BLOG.description | safe }}
        </div>
            <div class="col-sm-1 col-md-2 col-lg-2 col-xs-1" style="    text-align: center;">
                <div class="share-btns btn-group-vertical" style="position:fixed">
                    <a onclick="window.location = 'https://www.facebook.com/sharer/sharer.php?u='+window.location.href" class="btn btn-outline-primary">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a onclick="window.location = 'https://twitter.com/home?status='+window.location.href" class="btn btn-outline-info">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a onclick="window.location = 'https://www.linkedin.com/shareArticle?mini=true&url='+window.location.href" class="btn btn-outline-info">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a onclick="window.location = 'https://plus.google.com/share?url='+window.location.href" class="btn btn-outline-info">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="divider">
            
        </div>
        {{taglist(API.BLOG)}}
        <div class="divider">
            
        </div>
        
        <div class="row" style="margin-bottom:2rem">
            <div class="col-xs-10">
                {% if API.BLOG_COMMENTS.comments |length %}
                <h3>نظرات</h3>
                <div class="comment-list">
                    {% for comment in API.BLOG_COMMENTS.comments%} {{commentbinder(comment)}} {% endfor %}
                </div>
                {% endif %}
                <form action="{{API.ROUTES.POST.COMMENT}}" method="POST"  id="send-comment">
                    <h3>ارسال نظر</h3>
                    <div class="in-replay-to"></div>
                    <div class="form-group">
                        <label for="">نام
                            <span class="req"></span>
                        </label>
                        <input class="form-control" type="text" name="full_name" id="" required>
                    </div>
                    <div class="form-group">
                        <label for="">رایانامه</label>
                        <input class="form-control" type="email" name="email" id="">
                    </div>
                    <div class="form-group">
                        <label for="">نظر
                            <span class="req"></span>
                        </label>
                        <textarea class="form-control" type="text" name="comment" id="text-input" required ></textarea>
                    </div>
                    <input type="hidden" name="blog_id" value="{{API.BLOG.id}}">
                    <input type="hidden" name="parent_id" value="">
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </form>
            
            <script>
                function replayTo(replay_link,comment_id){
                    // set parent comment for replay form
                $('.in-replay-to').empty()
                let comment = $(replay_link).parent().parent().clone()
                comment.children('.comments').remove()
                comment.children('.content').children('.reply-link').replaceWith('<a style="font-size:2rem" onclick="removeReplay(this)"><i class="fa fa-times"></i></a>')
                
                $('.in-replay-to').append(comment)
                $('input[name="parent_id"]').val(comment_id)
                window.location = window.location.href.replace('#send-comment','')+"#send-comment";
            }
            function removeReplay(replay_link){
                // remove parent comment from replay form
                let comment = $(replay_link).parent().parent().remove()
                $('input[name="parent_id"]').val('')
            }
        </script>
    </div>
</div>
</div>