.image{
    height: 400px;
    background-position: center;
    margin-bottom: 3rem;
    // background-size: contain;
    // overflow: hidden;
}
.share-btns i{
    font-size:3rem;
    color: $primary-color;
}
.comment .content{
    border-right: 1px solid $primary-color;
    padding-right:0.5rem
}
.comment .comments{
    padding-right:3rem
}
.meta{
    font-size: 1rem
}
.comment-content{
    margin: 1rem 0;
}
.comment-list{
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
}
span.req::after{
    content: '*';
    color: red;
}