<div class="container">
    <div class="row rtl">
        <h2>محصولات در {{API.TYPE_PRODUCT.title}}</h2>
        {% for product in API.TYPE_PRODUCT.products %}
        <div class="col-sm-4 col-md-3 col-lg-3 col-xs-6 pr">
            <div class="pr-img">
                <a href="{{product.slug}}">
                    <img style="width:100%" src="{{product.media.url|image}}" alt="">
                </a>
                <div class="add-quick" data-url="{{product.slug}}">
                    
                </div>
            </div>
            <a>
                <h4>{{product.title}}</h4>
            </a>
            <div class="price">
                {% if product.compare_at_price %}
                <del>{{product.compare_at_price|price}}</del>
                {% endif %}
                <span>{{product.price|price}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="pr-detail" class="modal fade" role="dialog">

    </div>
